<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<script src="vue.min.js"></script>
	<title>Vue in Action</title>
</head>

<body>
	<div id="app">
		{{ message }}
	</div>

	<div id="app-2">
		<span v-bind:title="message">
			鼠标悬停几秒钟查看此处动态绑定的提示信息！
		</span>
	</div>

	<div id="app-3">
		<p> {{message}} </p>
		<button v-on:click="reverseMessage">reverse message</button>
	</div>

	<div id="app-4">
		<ol>
			<li v-for="todo in todos">
				{{todo.text}}
			</li>
		</ol>
	</div>

	<div id="hys">
		<p>{{message}}</p>
		<input v-model="message">
	</div>


	<script type="text/javascript">
		var app = new Vue({
			el: '#app',
			data: {
				message: 'Hello Vue!'
			}
		})

		var app2=new Vue({
			el:"#app-2",
			data:{
				message: '页面加载于 ' + new Date().toLocaleString()
			}
		})

		var app3=new Vue({
			el: '#app-3',
			data:{
				message: 'A Feast of Crows'
			},
			methods:{
				reverseMessage:function(){
					this.message=this.message.split('').reverse().join('')
				}
			}
		})

		var app4=new Vue({
			el:"#app-4",
			data:{
				todos:[
					{text:'A Game of Thrones'},
					{text:'A Clash of Kings'},
					{text:'A Storm of Swords'}
				]
			}
		})

		var hys=new Vue({
			el: '#hys',
			data: {
				message:'A Song of Ice And Fire'
			}
		})
	</script>

</body>

</html>